@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@layer utilities {
  .react-player-background video {
    object-fit: cover;
    border-radius: 10px;
  }
  .react-player-background {
    object-fit: cover;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
